.prev{
    display: inline-block;
    font-family: "Kaushan Script", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 48px auto;
    color: #333333;
    text-align: center;
    width: 100%;
}

.section-name{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 24px auto;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    &::after{
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background-color: #f38181;
        margin: 40px auto;
    }
}


.services{
    &-items-list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    &-item{
        width: 382px;
        margin-top: 96px;

            &:nth-child(-n+3){
                margin-top: 0;
             }
    }

    &-name{
        padding-left: 82px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #333333;
    }

    &-descr{
        padding-left: 82px;
        padding-top: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #999999;
    }
}


.alarm{
    background-image: url(../images/alarm.svg);
    background-position: bottom 46px left 20px;
    background-repeat: no-repeat;
}

.line{
    background-image: url(../images/line.svg);
    background-position: bottom 46px left 20px;
    background-repeat: no-repeat;
}

.computer{
    background-image: url(../images/computer.svg);
    background-position: bottom 46px left 20px;
    background-repeat: no-repeat;
}

.book{
    background-image: url(../images/book.svg);
    background-position: bottom 46px left 20px;
    background-repeat: no-repeat;
}

.home{
    background-image: url(../images/home.svg);
    background-position: bottom 46px left 20px;
    background-repeat: no-repeat;
}

.image{
    background-image: url(../images/image.svg);
    background-position: bottom 46px left 20px;
    background-repeat: no-repeat;
}