.team{
    &-prev{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #999999;
        margin: 0 auto;
        max-width: 948px;
        text-align: center;
    }

    &-list{
        padding-top: 66px;
        font-size: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    &-item{
        width: 380px;
    }

    &-box{
        position: relative;
    }

    &-img{
        -webkit-transition-duration: 200ms;
        -o-transition-duration: 200ms;
           transition-duration: 200ms;
   -webkit-transition-delay: 200ms;
        -o-transition-delay: 200ms;
           transition-delay: 200ms;
   -webkit-transition-timing-function: linear;
        -o-transition-timing-function: linear;
           transition-timing-function: linear;
    }
}


.overlay{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(251, 227, 137, 0.9)), to(rgba(243, 129, 129, 0.9)));
    background: -o-linear-gradient(top, rgba(251, 227, 137, 0.9), rgba(243, 129, 129, 0.9));
    background: linear-gradient(to bottom, rgba(251, 227, 137, 0.9), rgba(243, 129, 129, 0.9));
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-delay: 200ms;
         -o-transition-delay: 200ms;
            transition-delay: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;

    &-list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &-icon{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 56px;
        height: 56px;
        background-color: rgb(252, 227, 138);
        border: none;
        background-position: center;
        background-repeat: no-repeat;

        &:hover{
            background-color: #95e1d3;
        }
    }

    &-icon-svg{
        fill: #f38181;
    }
}


.team-box:hover .overlay{
    opacity: 1;
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-box-shadow: 10px 10px 0 #95e1d3;
            box-shadow: 10px 10px 0 #95e1d3;   
}

.team-box:hover .team-img{
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
}


.overlay-icon:hover
.overlay-icon-svg{
    fill: #ffffff;
}
.team-member-name{
    padding-top: 26px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
}

.team-member-descr{
    padding-top: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #999999;
    text-align: center;
    font-style: italic;
}